.container {
    display: flex;
    justify-content: center;
    align-items: center; /* Центрирование по вертикали */
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.content {

}