.container {
    background-color: #121212;
    width: 100%;
    padding: 10px 0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.content a {
    margin: 0 10px;
}