.footer {
    color: white;
    padding: 10px 20px;
    background-color: #121212;
    border-top: 1px solid #26292D;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content a {
    margin: 0 10px;
}